.headline{
   margin-top: 2em;
   display : flex;
   justify-content: center;
}

.headline svg{
  width : 450px
}

.menus{
  margin-top: 1em;
  display : flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ededed;
  border-bottom: 4px double #000;
}
.icon-button:hover {
  background-color: rgba(235, 235, 231, 0.849);
}
.menus button{
  border : none;
  background: none;
  margin : 5px;
}
.menus button:hover{
  background-color:papayawhip;
}
.news-ima-size{
  max-width: 100%; 

  /* 부모의 100% */
  max-height: 300px; 
}

.news{
  border-top: 2px solid #bbb7b7;
  border-bottom: 2px solid #bbb7b7;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
}

.hide {
  display: none;
}
#input-area {
  display: none;
}
@media screen and (max-width: 63rem) {
  /* 제일중요!! - 반응형 시 일정크기로 줄어들면 탭들이 햄버거로 변하도록 */
    .hide {
      display: inline;
    }
    .menus {
      display: none;
    }

  }

  .noResult{
    display: flex;
    justify-content: center;
    margin : auto;
  }

  .col-lg-8{
    cursor : pointer;
  }

  .pagination {
    justify-content: center;
    margin-top: 1em;

  }
  